<button (click)="back()" class="btn btn-primary btn-md mr-2 mb-5">Vrati na početnu stranicu</button>

<form #registerForm="ngForm" (ngSubmit)="addDocument()" autocomplete="off">
    <h2 class="text-center text-primary">Unos dokumenta</h2>
    <h6 class="text-center text-primary">Protokol broj se automatski dodjeljuje</h6>
    <hr>
    
    <div class="form-group">
        <input type="text" class="form-control" name="naslovDoc" [(ngModel)]="model.NaslovDokumenta"
            placeholder="Naslov dokumenta">
    </div>

    <div class="form-group">
        <h6><span>Vrsta dokumenta:</span></h6>
        <select (change)="selectChangeHandlerVrsta($event)">
            <option value="Faktura">Faktura</option>
            <option value="Potvrda">Potvrda</option>
            <option value="Ugovor">Ugovor</option>
            <option value="Ponuda">Ponuda</option>
            <option value="Opomena">Opomena</option>
            <option value="Dopis">Dopis</option>
        </select>
    </div>

    <div class="form-group">
        <h6><span>Tip dokumenta:</span></h6>
        <select (change)="selectChangeHandlerTip($event)">
            <option value="Ulazni">Ulazni</option>
            <option value="Izlazni">Izlazni</option>
        </select>
    </div>


    <!-- <div class="form-group">
        <label for="">VrstaDokumenta</label>
        <select>
            <option *ngFor="let vrsta of vrstaDokumenta"
                [value]=" vrsta">
                {{VrstaDokumenta2LabelMapping[vrsta]}}
            </option>
        </select>
    </div> -->

    <!-- <div class="form-group">
        <label for="">TipDokumenta</label>
        <select>
            <option *ngFor="let tip of tipDokumenta"
                [value]=" tip">
                {{TipDokumenta2LabelMapping[tip]}}
            </option>
        </select>
    </div> -->



    <div class="form-group">
        <input type="date" class="form-control" name="datum" [(ngModel)]="model.DatumDokumenta"
            placeholder="Datum dokumenta">
    </div>

    <div class="form-group">
        <input type="date" class="form-control" name="datumUnosa" [(ngModel)]="model.DatumUnosaDokumenta"
            placeholder="Datum unosa dokummenta">
    </div>

    <div class="form-group">
        <input class="form-control" name="fizickoLice" [(ngModel)]="model.FizickoLice" placeholder="Fizičko lice">
    </div>

    <div class="form-group">
        <input type="text" class="form-control" name="napomena" [(ngModel)]="model.Napomena" placeholder="Napomena">
    </div>

    <div class="form-group">
        <input type="number" class="form-control" name="vrijesnot" [(ngModel)]="model.Vrijednost"
            placeholder="Vrijednost">
    </div>

    <div class="form-group">
        <input class="form-control" name="posiljaoc" [(ngModel)]="model.Posiljaoc" placeholder="Pošiljaoc">
    </div>

    <div class="form-group">
        <input class="form-control" name="primaoc" [(ngModel)]="model.Primaoc" placeholder="Primaoc">
    </div>

    <div class="form-group text-center">
        <button class="btn btn-success mr-2" type="submit" (click)="addDocument()">Unesi</button>
        <button class="btn btn-default mr-2" type="button" (click)="cancel()">Otkaži</button>
    </div>
</form>